<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
	version="2.4">

	<!-- ◇◇◇◇◇サーブレット定義◇◇◇◇◇ -->
	<!-- ◆◆郵便番号→住所検索サービス◆◆ -->
	<servlet>
		<servlet-name>ConvertZipToPrefectures</servlet-name>
		<servlet-class>jp.co.freedom.dboperate.zip.ConvertZipToPrefectures</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConvertZipToPrefectures</servlet-name>
		<url-pattern>/ConvertZipToPrefectures</url-pattern>
	</servlet-mapping>
	<!-- ◆◆クロス集計◆◆ -->
	<!-- ///// たき工房 ///// -->
	<servlet>
		<servlet-name>CrossTabulationForTaki</servlet-name>
		<servlet-class>jp.co.freedom.crosstabulation.CrossTabulationForTaki</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrossTabulationForTaki</servlet-name>
		<url-pattern>/CrossTabulationForTaki</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CrossTabulationForTakiCleaner</servlet-name>
		<servlet-class>jp.co.freedom.crosstabulation.CrossTabulationForTakiCleaner</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrossTabulationForTakiCleaner</servlet-name>
		<url-pattern>/CrossTabulationForTakiCleaner</url-pattern>
	</servlet-mapping>
	<!-- ◆◆OOXML編集◆◆ -->
	<!-- ///// オムロン ///// -->
	<servlet>
		<servlet-name>OoxmlStaffEnqueteForOmron</servlet-name>
		<servlet-class>jp.co.freedom.ooxml.omron.OoxmlStaffEnqueteForOmron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OoxmlStaffEnqueteForOmron</servlet-name>
		<url-pattern>/OoxmlStaffEnqueteForOmron</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OoxmlClientEnqueteForOmron</servlet-name>
		<servlet-class>jp.co.freedom.ooxml.omron.OoxmlClientEnqueteForOmron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OoxmlClientEnqueteForOmron</servlet-name>
		<url-pattern>/OoxmlClientEnqueteForOmron</url-pattern>
	</servlet-mapping>
	<!-- ◆◆アンケート集計◆◆ -->
	<servlet>
		<servlet-name>EnqueteDataMining</servlet-name>
		<servlet-class>jp.co.freedom.enquete.EnqueteDataMining</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnqueteDataMining</servlet-name>
		<url-pattern>/EnqueteDataMining</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneralPurposeEnqueteMining</servlet-name>
		<servlet-class>jp.co.freedom.gpenquete.GeneralPurposeEnqueteMining</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralPurposeEnqueteMining</servlet-name>
		<url-pattern>/GeneralPurposeEnqueteMining</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneralExhibitionDataMining</servlet-name>
		<servlet-class>jp.co.freedom.gpenquete.GeneralExhibitionDataMining</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralExhibitionDataMining</servlet-name>
		<url-pattern>/GeneralExhibitionDataMining</url-pattern>
	</servlet-mapping>
	<!-- ◆◆島津製作所 要件票作成◆◆ -->
	<servlet>
		<servlet-name>MasterDataForShimazuYouken</servlet-name>
		<servlet-class>jp.co.freedom.shimazu.youken.MasterDataForShimazuYouken</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterDataForShimazuYouken</servlet-name>
		<url-pattern>/MasterDataForShimazuYouken</url-pattern>
	</servlet-mapping>
	<!-- ◆◆展示会マスターデータ作成◆◆ -->
	<!-- ///// JGAS ///// -->
	<servlet>
		<servlet-name>MasterAppDataDLForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.MasterAppDataDLForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForJgas</servlet-name>
		<url-pattern>/MasterAppDataDLForJgas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterPreDataDLForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.MasterPreDataDLForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterPreDataDLForJgas</servlet-name>
		<url-pattern>/MasterPreDataDLForJgas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BarcodeMatchingForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.BarcodeMatchingForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeMatchingForJgas</servlet-name>
		<url-pattern>/BarcodeMatchingForJgas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BarcodeFullMatchingForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.BarcodeFullMatchingForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeFullMatchingForJgas</servlet-name>
		<url-pattern>/BarcodeFullMatchingForJgas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorCheckForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.VisitorCheckForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorCheckForJgas</servlet-name>
		<url-pattern>/VisitorCheckForJgas</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EnqueteMatchingForJgas</servlet-name>
		<servlet-class>jp.co.freedom.master.jgas.EnqueteMatchingForJgas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EnqueteMatchingForJgas</servlet-name>
		<url-pattern>/EnqueteMatchingForJgas</url-pattern>
	</servlet-mapping>
	<!-- ///// FPD ///// -->
	<servlet>
		<servlet-name>BarcodeMatchingForFpd</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.BarcodeMatchingForFpd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeMatchingForFpd</servlet-name>
		<url-pattern>/BarcodeMatchingForFpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExhibitorBarcodeMatchingForFpd</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.ExhibitorBarcodeMatchingForFpd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExhibitorBarcodeMatchingForFpd</servlet-name>
		<url-pattern>/ExhibitorBarcodeMatchingForFpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorCheckForFpd</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.VisitorCheckForFpd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorCheckForFpd</servlet-name>
		<url-pattern>/VisitorCheckForFpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterPreDataDLForFpd</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.MasterPreDataDLForFpd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterPreDataDLForFpd</servlet-name>
		<url-pattern>/MasterPreDataDLForFpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterAppDataDLForFpd</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.MasterAppDataDLForFpd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForFpd</servlet-name>
		<url-pattern>/MasterAppDataDLForFpd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePreEntryId</servlet-name>
		<servlet-class>jp.co.freedom.master.fpd.UpdatePreEntryId</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePreEntryId</servlet-name>
		<url-pattern>/UpdatePreEntryId</url-pattern>
	</servlet-mapping>
	<!-- ///// scf ///// -->
	<servlet>
		<servlet-name>BarcodeMatchingForScf</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.BarcodeMatchingForScf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeMatchingForScf</servlet-name>
		<url-pattern>/BarcodeMatchingForScf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterPreDataDLForScf</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.MasterPreDataDLForScf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterPreDataDLForScf</servlet-name>
		<url-pattern>/MasterPreDataDLForScf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterAppDataDLForScf</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.MasterAppDataDLForScf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForScf</servlet-name>
		<url-pattern>/MasterAppDataDLForScf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterAppDataDLForScfYokogawa</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.MasterAppDataDLForScfYokogawa</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForScfYokogawa</servlet-name>
		<url-pattern>/MasterAppDataDLForScfYokogawa</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorCheckForScf</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.VisitorCheckForScf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorCheckForScf</servlet-name>
		<url-pattern>/VisitorCheckForScf</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExhibiDataDupulicateCheckForScf</servlet-name>
		<servlet-class>jp.co.freedom.master.scf.ExhibiDataDupulicateCheckForScf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExhibiDataDupulicateCheckForScf</servlet-name>
		<url-pattern>/ExhibiDataDupulicateCheckForScf</url-pattern>
	</servlet-mapping>
	<!-- ///// mesago ///// -->
	<servlet>
		<servlet-name>BarcodeMatchingForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.BarcodeMatchingForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeMatchingForMesago</servlet-name>
		<url-pattern>/BarcodeMatchingForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterPreDataDLForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.MasterPreDataDLForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterPreDataDLForMesago</servlet-name>
		<url-pattern>/MasterPreDataDLForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MasterAppDataDLForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.MasterAppDataDLForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForMesago</servlet-name>
		<url-pattern>/MasterAppDataDLForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VisitorCheckForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.VisitorCheckForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisitorCheckForMesago</servlet-name>
		<url-pattern>/VisitorCheckForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataCleansingForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.DataCleansingForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataCleansingForMesago</servlet-name>
		<url-pattern>/DataCleansingForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DataCollectingForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.DataCollectingForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataCollectingForMesago</servlet-name>
		<url-pattern>/DataCollectingForMesago</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FinalDataDLForMesago</servlet-name>
		<servlet-class>jp.co.freedom.master.mesago.FinalDataDLForMesago</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FinalDataDLForMesago</servlet-name>
		<url-pattern>/FinalDataDLForMesago</url-pattern>
	</servlet-mapping>


	<!-- //// basf ///// -->
	<servlet>
		<servlet-name>MasterDataDLForBasf</servlet-name>
		<servlet-class>jp.co.freedom.master.basf.MasterDataDLForBasf</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterDataDLForBasf</servlet-name>
		<url-pattern>/MasterDataDLForBasf</url-pattern>
	</servlet-mapping>
	<!-- ///// Enquete ///// -->
	<servlet>
		<servlet-name>DbEnqueteDataMining</servlet-name>
		<servlet-class>jp.co.freedom.master.enquete.DbEnqueteDataMining</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DbEnqueteDataMining</servlet-name>
		<url-pattern>/DbEnqueteDataMining</url-pattern>
	</servlet-mapping>
	<!-- ///// EMB ///// -->
	<servlet>
		<servlet-name>MasterAppDataDLForEmb</servlet-name>
		<servlet-class>jp.co.freedom.master.emb.MasterAppDataDLForEmb</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForEmb</servlet-name>
		<url-pattern>/MasterAppDataDLForEmb</url-pattern>
	</servlet-mapping>
	<!-- IME -->
	<servlet>
		<servlet-name>MasterAppDataDLForIme</servlet-name>
		<servlet-class>jp.co.freedom.master.ime.MasterAppDataDLForIme</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForIme</servlet-name>
		<url-pattern>/MasterAppDataDLForIme</url-pattern>
	</servlet-mapping>
	<!-- YAKINIKU -->
	<servlet>
		<servlet-name>MasterAppDataDLForYakiniku</servlet-name>
		<servlet-class>jp.co.freedom.master.yakiniku.MasterAppDataDLForYakiniku</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MasterAppDataDLForYakiniku</servlet-name>
		<url-pattern>/MasterAppDataDLForYakiniku</url-pattern>
	</servlet-mapping>
	<!-- オムロン -->
	<servlet>
		<servlet-name>BarcodeMatchingForOmron</servlet-name>
		<servlet-class>jp.co.freedom.master.omron.BarcodeMatchingForOmron</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BarcodeMatchingForOmron</servlet-name>
		<url-pattern>/BarcodeMatchingForOmron</url-pattern>
	</servlet-mapping>

	<!-- ◆◆展示会 速報集計◆◆ -->
	<!-- 汎用 -->
	<servlet>
		<servlet-name>UploadRfidDataForGeneralPurposePromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.gp.UploadRfidDataForGeneralPurposePromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadRfidDataForGeneralPurposePromptReport</servlet-name>
		<url-pattern>/UploadRfidDataForGeneralPurposePromptReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GeneralPurposePromptReportExecute</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.gp.GeneralPurposePromptReportExecute</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GeneralPurposePromptReportExecute</servlet-name>
		<url-pattern>/GeneralPurposePromptReportExecute</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetForGeneralPurposePromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.gp.ResetForGeneralPurposePromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetForGeneralPurposePromptReport</servlet-name>
		<url-pattern>/ResetForGeneralPurposePromptReport</url-pattern>
	</servlet-mapping>
	<!-- SCF -->
	<servlet>
		<servlet-name>InitializeDBForScfPromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.scf.InitializeDBForScfPromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitializeDBForScfPromptReport</servlet-name>
		<url-pattern>/InitializeDBForScfPromptReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScfPromptReportCalculate</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.scf.ScfPromptReportCalculate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScfPromptReportCalculate</servlet-name>
		<url-pattern>/ScfPromptReportCalculate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetDBForScfPromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.scf.ResetDBForScfPromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetDBForScfPromptReport</servlet-name>
		<url-pattern>/ResetDBForScfPromptReport</url-pattern>
	</servlet-mapping>
	<!-- MESAGO -->
	<servlet>
		<servlet-name>InitializeDBForMesagoPromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.mesago.InitializeDBForMesagoPromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InitializeDBForMesagoPromptReport</servlet-name>
		<url-pattern>/InitializeDBForMesagoPromptReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MesagoPromptReportCalculate</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.mesago.MesagoPromptReportCalculate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MesagoPromptReportCalculate</servlet-name>
		<url-pattern>/MesagoPromptReportCalculate</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetDBForMesagoPromptReport</servlet-name>
		<servlet-class>jp.co.freedom.promptreport.mesago.ResetDBForMesagoPromptReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetDBForMesagoPromptReport</servlet-name>
		<url-pattern>/ResetDBForMesagoPromptReport</url-pattern>
	</servlet-mapping>
	<!-- ◆◆展示会 画像ファイルキーワード検索◆◆ -->
	<servlet>
		<servlet-name>ImageFileSearch</servlet-name>
		<servlet-class>jp.co.freedom.search.ImageFileSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageFileSearch</servlet-name>
		<url-pattern>/ImageFileSearch</url-pattern>
	</servlet-mapping>
	<!-- ◆◆アンケート集計（出力フォーマット：固定データ長）◆◆ -->
	<servlet>
		<servlet-name>AdvertisingAwards</servlet-name>
		<servlet-class>jp.co.freedom.master.fixedlengthdata.awards.AdvertisingAwards</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdvertisingAwards</servlet-name>
		<url-pattern>/AdvertisingAwards</url-pattern>
	</servlet-mapping>
	<!-- ◆◆経理処理控／棚卸表（出力フォーマット：固定データ長）◆◆ -->
	<servlet>
		<servlet-name>TanaoroshiTable</servlet-name>
		<servlet-class>jp.co.freedom.master.fixedlengthdata.tokyo.TanaoroshiTable</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TanaoroshiTable</servlet-name>
		<url-pattern>/TanaoroshiTable</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaymasterProcessing</servlet-name>
		<servlet-class>jp.co.freedom.master.fixedlengthdata.tokyo.PaymasterProcessing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaymasterProcessing</servlet-name>
		<url-pattern>/PaymasterProcessing</url-pattern>
	</servlet-mapping>
</web-app>